body {
    background-color: #202833;
    text-align: center;
    color: #fafafa;
}
span {
    font-family: 'Lobster';
}
a {
    color: #fafafa;
    transition: linear 0.3s;
}
a:hover {
    opacity: 0.8;
}
a, a:hover {
    text-decoration: none;
}
#hours{   
    font-size: 50px;
    font-weight: 900;
    line-height: 25px;
    color: #f9f9f9;
}
#day{   
    font-size: 100px;
    font-weight: 900;
    line-height: 150px;
    color: #f9f9f9;
}
