body {
    background-color: #202833;
    /* text-align: center; */
    color: #fafafa;
}
span {
    font-family: 'Lobster';
}
a {
    color: #fafafa;
    transition: linear 0.3s;
}
a:hover {
    opacity: 0.8;
}
a, a:hover {
    text-decoration: none;
}
h6{
    color: #8f8f8f;
    font-family: arial;
}
#hours{   
    font-size: 30px;
    font-weight: 900;
    line-height: 25px;
    color: #ff6d6d;
}
#day{   
    font-size: 35px;
    font-weight: 900;
    line-height: 120px;
    color: #ff6d6d;
}
button.btn.btn-primary {
    margin-bottom: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }

